@font-face{
    font-family : "Arvo";
    src : url('fontes/serif/01/Arvo-Regular.ttf');
}
@font-face{
    font-family : "Basquervald";
    src : url('fontes/serif/02/baskervaldadfstd-regular.ttf');
}@font-face{
    font-family : "Berenis";
    src : url('fontes/serif/03/berenisadfmed-regular.otf');
}@font-face{
    font-family : "Bitter";
    src : url('fontes/serif/04/Bitter-Regular.otf');
}@font-face{
    font-family : "Bree";
    src : url('fontes/serif/05/BreeSerif-Regular.otf');
}

div#tipDiv {
    font-size:.7em;
    color:#000; background-color:#E1E5F1; 
    border:1px solid #667295; 	border-radius: 7px;
	padding:4px; 
    width:300px;
}

#box {
	width-max: 300px;
	background: grey;
	margin: 5px;

}
#un {
font-family : Arvo;
}
#deux {
font-family : Basquervald;
}
				
#trois {
font-family : Berenis;
}
#quatre {
font-family : Bree;
}

	